@import url('UserSettings.style.css');
@import "hljs.css";
html > body #CustomCSS-block > h4 {
  display: flex;
  gap: 1em;
  align-items: baseline;
}
html > body.csss--body {
  height: 100vh;
}
html > body.csss--body #csss--root {
  width: 100%;
  height: 100vh;
  overflow: auto;
}
html > body.csss--body .csss--isExporting #csss--head > .csss--actions > #csss--collapse,
html > body.csss--body .csss--isExporting #csss--head > .csss--actions > #csss--import {
  opacity: 0.25;
  pointer-events: none;
}
html > body.csss--body .csss--isExporting .csss--snippet * {
  pointer-events: none;
}
html > body.csss--body .csss--isExporting .csss--snippet.csss--selected {
  box-shadow: 0 0 20px var(--SmartThemeQuoteColor);
}
html > body.csss--body .csss--isCollapsed #csss--list {
  gap: 0;
}
html > body.csss--body .csss--isCollapsed #csss--list > .csss--snippet > .csss--nameWrap {
  flex: 1 1 auto;
}
html > body.csss--body .csss--isCollapsed #csss--list > .csss--snippet > .csss--nameWrap > .csss--activeWrap {
  display: none;
}
html > body.csss--body .csss--isCollapsed #csss--list > .csss--snippet > .csss--contentWrap,
html > body.csss--body .csss--isCollapsed #csss--list > .csss--snippet > .csss--actionsWrap {
  display: none;
}
html > body.csss--body #csss--head {
  display: flex;
  flex-direction: row;
  gap: 2em;
  align-items: baseline;
  position: sticky;
  top: 0;
  background-color: var(--greyCAIbg);
  box-shadow: 0 0 3px black;
  padding: 0.5em;
  z-index: 1;
}
html > body.csss--body #csss--head > h4 {
  flex: 0 0 auto;
}
html > body.csss--body #csss--head > .csss--actions {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  gap: 0.25em;
  align-items: center;
}
html > body.csss--body #csss--head > .csss--actions > #csss--collapse,
html > body.csss--body #csss--head > .csss--actions > #csss--import {
  transition: 200ms;
  opacity: 1;
}
html > body.csss--body #csss--head > .csss--actions > #csss--export {
  transition: 200ms;
}
html > body.csss--body #csss--head > .csss--actions > #csss--export.csss--active {
  background-color: var(--SmartThemeQuoteColor);
}
html > body.csss--body #csss--head > .csss--actions > #csss--import-file {
  display: none;
}
html > body.csss--body #csss--head > .csss--actions > #csss--export-message {
  flex: 1 1 auto;
  font-size: smaller;
}
html > body.csss--body #csss--head > .csss--actions > #csss--export-selectAll,
html > body.csss--body #csss--head > .csss--actions > #csss--export-message,
html > body.csss--body #csss--head > .csss--actions > #csss--export-copy,
html > body.csss--body #csss--head > .csss--actions > #csss--export-download {
  opacity: 0;
  width: 0;
  height: 0;
  flex: 0 0 auto;
  overflow: hidden;
  pointer-events: none;
  transition: 200ms;
}
html > body.csss--body #csss--head > .csss--actions > #csss--export-selectAll.csss--active,
html > body.csss--body #csss--head > .csss--actions > #csss--export-message.csss--active,
html > body.csss--body #csss--head > .csss--actions > #csss--export-copy.csss--active,
html > body.csss--body #csss--head > .csss--actions > #csss--export-download.csss--active {
  opacity: 1;
  width: auto;
  height: auto;
  pointer-events: all;
}
html > body.csss--body #csss--head > .csss--actions > #csss--export-selectAll.csss--active#csss--export-message,
html > body.csss--body #csss--head > .csss--actions > #csss--export-message.csss--active#csss--export-message,
html > body.csss--body #csss--head > .csss--actions > #csss--export-copy.csss--active#csss--export-message,
html > body.csss--body #csss--head > .csss--actions > #csss--export-download.csss--active#csss--export-message {
  flex: 1 1 auto;
}
html > body.csss--body #csss--head > .csss--actions > #csss--search {
  flex: 1 1 auto;
}
html > body.csss--body #csss--head > .csss--actions > #csss--search > #csss--searchQuery {
  width: 100%;
}
html > body.csss--body #csss--list {
  list-style: none;
  padding: 0.5em;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
html > body.csss--body #csss--list > .csss--snippet {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}
html > body.csss--body #csss--list > .csss--snippet:has(.csss--isDisabled:checked) {
  opacity: 0.5;
}
html > body.csss--body #csss--list > .csss--snippet.csss--isHidden,
html > body.csss--body #csss--list > .csss--snippet.csss--isFiltered {
  display: none;
}
html > body.csss--body #csss--list > .csss--snippet.csss--isCollapsed > .csss--nameWrap {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
}
html > body.csss--body #csss--list > .csss--snippet.csss--isCollapsed > .csss--nameWrap > .csss--activeWrap {
  display: flex;
}
html > body.csss--body #csss--list > .csss--snippet.csss--isCollapsed > .csss--nameWrap > .csss--activeWrap > .flex-container {
  flex-direction: row;
  flex-wrap: nowrap;
}
html > body.csss--body #csss--list > .csss--snippet.csss--isCollapsed > .csss--nameWrap > .csss--activeWrap > .flex-container > .csss--text > .csss--full {
  display: none;
}
html > body.csss--body #csss--list > .csss--snippet.csss--isCollapsed > .csss--contentWrap {
  display: none;
}
html > body.csss--body #csss--list > .csss--snippet.csss--isCollapsed > .csss--actionsWrap {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
html > body.csss--body #csss--list > .csss--snippet > .csss--dragWrap {
  flex: 0 0 auto;
}
html > body.csss--body #csss--list > .csss--snippet > .csss--dragWrap > .drag-handle {
  padding: 0.75em;
}
html > body.csss--body #csss--list > .csss--snippet > .csss--nameWrap {
  flex: 0 0 auto;
}
html > body.csss--body #csss--list > .csss--snippet > .csss--nameWrap > .csss--activeWrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
  justify-content: space-between;
  padding: 0.5em;
}
html > body.csss--body #csss--list > .csss--snippet > .csss--nameWrap > .csss--activeWrap > .flex-container {
  align-items: center;
}
html > body.csss--body #csss--list > .csss--snippet > .csss--nameWrap > .csss--activeWrap > .flex-container.csss--isUsed > .csss--text {
  color: var(--SmartThemeQuoteColor);
}
html > body.csss--body #csss--list > .csss--snippet > .csss--contentWrap {
  flex: 1 1 auto;
  display: grid;
  overflow: hidden;
}
html > body.csss--body #csss--list > .csss--snippet > .csss--actionsWrap {
  align-self: flex-start;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 0.5em;
}
html > body.csss--body #csss--list > .csss--snippet > .csss--actionsWrap > .csss--action {
  width: 100%;
}
html > body.csss--body #csss--list > .csss--snippet > .csss--actionsWrap > .csss--ide.csss--isWatching {
  animation-name: csss--pulse;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
}
html > body.csss--body .csss--listActions {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
html > body.csss--body > .csss--blocker {
  position: absolute;
  inset: 0;
  z-index: 10;
  backdrop-filter: blur(4px);
}
html > body.csss--body > .csss--blocker > .csss--body {
  position: absolute;
  inset: 0;
  width: unset;
  min-width: unset;
  max-width: unset;
  height: unset;
  min-height: unset;
  max-height: unset;
  gap: 0.5em;
}
html > body.csss--body > .csss--blocker > .csss--body.csss--expand {
  display: grid;
  overflow: hidden;
  grid-template-rows: 1fr 0fr;
}
html > body.csss--body > .csss--blocker > .csss--body.csss--themes {
  display: flex;
  flex-direction: column;
}
html > body.csss--body > .csss--blocker > .csss--body > .csss--input {
  flex: 1 1 auto;
  font-family: var(--monoFontFamily, monospace);
}
html > body.csss--body > .csss--filterMenu {
  position: absolute;
  z-index: 10;
}
html > body.csss--body > .csss--filterMenu > .csss--item {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  padding: 0.5em;
  align-items: baseline;
}
.csss--themes .csss--themesHead {
  display: flex;
  gap: 1em;
  align-items: baseline;
}
.csss--themes .csss--themesContent {
  flex: 1 1 auto;
  overflow: auto;
}
.csss--themes .csss--themesItem {
  display: flex;
  gap: 0.5em;
  align-items: baseline;
}
html > body.csss--body .csss--content,
html > body.csss--body .csss--input,
html > body.csss--body .csss--contentSyntaxInner {
  font-family: var(--monoFontFamily, monospace);
  padding: 0.75em;
  margin: 0;
  border: none;
  line-height: 1.2;
  border: 1px solid var(--SmartThemeBorderColor);
  border-radius: 5px;
  white-space: pre;
  resize: none;
  tab-size: 4;
  max-height: unset;
}
html > body.csss--body .csss--contentSyntax {
  grid-column: 1;
  grid-row: 1;
  padding: 0;
  margin: 0;
  border: none;
  overflow: hidden;
  min-width: 100%;
  width: 0;
  min-height: 100%;
  height: 0;
}
html > body.csss--body .csss--contentSyntax:has(~ .csss--content:disabled) > .csss--contentSyntaxInner {
  opacity: 0.5;
}
html > body.csss--body .csss--contentSyntax > .csss--contentSyntaxInner {
  background-color: #1f1f1f;
  height: 100%;
}
html > body.csss--body .csss--content,
html > body.csss--body .csss--input {
  grid-column: 1;
  grid-row: 1;
  caret-color: var(--ac-style-color-text);
}
html > body.csss--body .csss--content::-webkit-scrollbar,
html > body.csss--body .csss--input::-webkit-scrollbar,
html > body.csss--body .csss--content::-webkit-scrollbar-thumb,
html > body.csss--body .csss--input::-webkit-scrollbar-thumb {
  visibility: hidden;
}
html > body.csss--body .csss--content::selection,
html > body.csss--body .csss--input::selection {
  color: transparent;
  background-color: rgba(108 171 251 / 0.25);
}
@supports (rgb(from var(--ac-style-color-matchedText) r g b / 0.25)) {
  html > body.csss--body .csss--content::selection,
  html > body.csss--body .csss--input::selection {
    background-color: rgb(from var(--ac-style-color-matchedText) r g b / 0.25);
  }
}
html > body.csss--body .csss--content {
  height: calc(6em * 1.2);
}
html > body.csss--body .csss--content:disabled {
  opacity: 0.5;
}
@keyframes csss--pulse {
  0% {
    filter: invert(0);
  }
  50% {
    filter: invert(1);
  }
  100% {
    filter: invert(0);
  }
}
